@model SearchPatternWebApp.Models.EventCountModel

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Device ID</th>
                <th>Faults Found</th>
            </tr>
        </thead>
        <tbody>
              <tr>
                <td> @Model.EventCount.deviceID</td>
                <td> @Model.EventCount.eventCount</td>
             </tr>            
        </tbody>
    </table>

</div>  